* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
    height: 100vh;

}
button {
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 1rem;
    color: #fff;
    border:0;    
    outline: none;
    margin: 5px;
    flex: 1;


}
.main {
    max-width: 960px;
    width: 95%;
    border: #000 solid 1px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
}

body > * {
    margin-bottom: 20px;
}


.button-panel {
    display: flex;
    flex-wrap: wrap;

}


.button-panel h2{
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.main div {
    flex: 1;
    display: flex;
}
.main div div {
    background-color: rgb(255, 255, 255);
    border: #000 solid 1px;
    aspect-ratio: 1/1;



}
